// Woah I'm actually using one of these
h1 BINGOXO!!

table
  each row in attendeeGrid
    tr
      each handle in row
        td
          a(href='https://twitter.com/#{handle}')
            img.avatar(src='avatars/#{handle}.png')
            h2= '@' + handle

a.logout(href='/logout') Log out
