// Woah I'm actually using one of these
h1 BINGOXO!!

table
  each row in attendeeGrid
    tr
      each person in row
        td
          a(href=person.link)
            img.avatar(src=person.image)
            h2=person.name

a.logout(href='/logout') Log out
