h1
  <a href="https://2018.xoxofest.com"><svg xmlns="http://www.w3.org/2000/svg" width="200" viewBox="0 0 200 200" class="logo" title="XOXO"> <g fill="none" fill-rule="evenodd"><path fill="#0098A5" fill-rule="nonzero" d="M197.184571,200 L2.56783465,200 C1.1495772,200 0,198.850423 0,197.432165 L0,2.81542895 C0,1.39850821 1.1495772,0.247594297 2.56783465,0.247594297 L197.184571,0.247594297 C198.602829,0.247594297 199.752406,1.39850821 199.752406,2.81542895 L199.752406,197.432165 C199.752406,198.850423 198.602829,200 197.184571,200" transform="matrix(1 0 0 -1 0 200)"></path><path fill="#FFFFFF" fill-rule="nonzero" d="M130.948998,54.2266665 C122.731665,54.2266665 116.046332,60.913333 116.046332,69.1306662 C116.046332,77.3479993 122.731665,84.0319991 130.948998,84.0319991 C139.166331,84.0319991 145.851664,77.3479993 145.851664,69.1306662 C145.851664,60.913333 139.166331,54.2266665 130.948998,54.2266665 M130.948998,89.2586657 C119.850332,89.2586657 110.819665,80.2293326 110.819665,69.1306662 C110.819665,58.0306664 119.850332,49 130.948998,49 C142.047664,49 151.078331,58.0306664 151.078331,69.1306662 C151.078331,80.2293326 142.047664,89.2586657 130.948998,89.2586657 M88.4916657,88.4933323 C87.472999,89.5146657 85.8156657,89.5146657 84.7969991,88.4933323 L69.1289995,72.8253327 L53.4609999,88.4933323 C52.4409999,89.5146657 50.785,89.5146657 49.765,88.4933323 C48.745,87.4733324 48.745,85.8186657 49.765,84.7986658 L65.4329996,69.1293328 L49.765,53.4613332 C48.745,52.4399999 48.745,50.7866666 49.765,49.7653333 C50.2756666,49.2546667 50.945,49 51.6129999,49 C52.2823333,49 52.9503332,49.2546667 53.4609999,49.7653333 L69.1289995,65.4346663 L84.7969991,49.7653333 C85.3063324,49.2546667 85.9756657,49 86.6436657,49 C87.312999,49 87.9823324,49.2546667 88.4916657,49.7653333 C89.512999,50.7866666 89.512999,52.4399999 88.4916657,53.4613332 L72.8236661,69.1293328 L88.4916657,84.7986658 C89.512999,85.8186657 89.512999,87.4733324 88.4916657,88.4933323 M130.948998,145.851998 C139.166331,145.851998 145.851664,139.166664 145.851664,130.949331 C145.851664,122.731998 139.166331,116.046665 130.948998,116.046665 C122.731665,116.046665 116.046332,122.731998 116.046332,130.949331 C116.046332,139.166664 122.731665,145.851998 130.948998,145.851998 M130.948998,110.819998 C142.047664,110.819998 151.078331,119.850665 151.078331,130.949331 C151.078331,142.047998 142.047664,151.078664 130.948998,151.078664 C119.850332,151.078664 110.819665,142.047998 110.819665,130.949331 C110.819665,119.850665 119.850332,110.819998 130.948998,110.819998 M88.4916657,150.311997 C87.472999,151.333331 85.8156657,151.333331 84.7969991,150.311997 L69.1289995,134.643998 L53.4609999,150.311997 C52.4409999,151.333331 50.785,151.333331 49.765,150.311997 C48.745,149.291997 48.745,147.638664 49.765,146.617331 L65.4329996,130.949331 L49.765,115.281332 C48.745,114.259998 48.745,112.606665 49.765,111.586665 C50.2756666,111.075998 50.945,110.819998 51.6129999,110.819998 C52.2823333,110.819998 52.9503332,111.075998 53.4609999,111.586665 L69.1289995,127.254665 L84.7969991,111.586665 C85.3063324,111.075998 85.9756657,110.819998 86.6436657,110.819998 C87.312999,110.819998 87.9823324,111.075998 88.4916657,111.586665 C89.512999,112.606665 89.512999,114.259998 88.4916657,115.281332 L72.8236661,130.949331 L88.4916657,146.617331 C89.512999,147.638664 89.512999,149.291997 88.4916657,150.311997" transform="matrix(1 0 0 -1 0 200.079)"></path></g></svg></a>
  span.teal
    | bingo
    sup 2018

table
  each row in attendeeGrid
    tr
      each person in row
        td.goalz

ul.rulez
  li
  li ⬆ click these for deets, or read about 'em below! ⬇
  li

div.end
  | kay thanks for playing! hastily and lovingly made by&nbsp;
  a(href='https://rileyjshaw.com' target='_blank') riley
  | ,&nbsp;
  a(href='https://twitter.com/herlifeinpixels' target='_blank') hannah
  | , and&nbsp;
  a(href='https://twitter.com/justsomeguy' target='_blank') jason
  | !
  br
  br
  br
