extends ./default.pug

block title
  title B-I-N-G-O

block content
  if true
    include ./card_2018
  else
    div.hello
      p hi! this is #[a(href='https://twitter.com/rileyjshaw') riley]! a few years ago my friend #[a(href='https://twitter.com/veryeli') eli] and i made a #[a(href='/login/twitter') bingo card] for everyone at xoxo to make friends, or to find cool people in general. it's 2018 let's bring it back!

      p.divider ~~~~~

      p rules:
      ul
        li you get to x or o every square that's someone you know or have met!
        li if you feel comfortable, try and x or o enough folks to make a horizontal, diagonal, or vertical line through the page
        li have fun

      p if you get BINGO, or even make an earnest or even a half-hearted attempt to do so and let us know, we'll feel really extreme and long-lived happiness because of you. and don't you want to make another person feel that sort of thing?

      p we're asking you to #[a(href='/login/twitter') log in] because the xoxo attendees list isn't public.*

      p if you do login, you'll get a special card just for you.**

      p anyway we hope you like this thing we made.***

      p -xoxo

      p riley

      p.divider ~~~~~

      p * if you're not an XOXO attendee, we'll make you a card based on some of the folks who we perceive as being at the heart of the cultural gestalt that is xoxo.

      p ** you'll be in the center of your card because you already know yourself (maybe?) and the center's always a freebie. if you feel like you don't know yourself, this game will be way harder. so will other things in your life. but we're pretty sure you *do* know yourself. and you're amazing.

      p *** and that it helps you talk to folks and make friends, and that you're happy and are satisfied with your life and feel self-actualized and have a comfy bed and clean socks and a loving network of friends surrounding you in your day to day.

      p.divider ~~~~~

      p oh, and it's also on #[a(href='https://github.com/rileyjshaw/xoxo-bingo') github] if you're into that sort of thing!
