extends ./default.jade

block title
  title Friend Bingo at XOXO!

block content
  if user
    include ./card
  else
    p hi! this is #[a(href='twitter/eli_awry') eli] and #[a(href='twitter/rileyjshaw') riley]! we made you a bingo card for the xoxo festival.
    p    rules
    p    ---------
    p    - you get to x or o every square that's someone you know or have met!
    p    - if you feel comfortable, try and x or o enough folks to get B-I-N-G-O
    p    - have fun
    p

    p    if you get BINGO, or even make an earnest or even a half-hearted attempt to do so and let us know, we'll feel really extreme and long-lived happiness because of you. and don't you want to make another person feel that sort of thing? unregrettable.    p

    p    we're asking you to #[a(href='/login/twitter') log in] with twitter because the xoxo attendees list isn't public.*

    p    if you do login, you'll get a special card just for you.**
    p

    p    anyway we hope you like this thing we made.***
    p

    p    -xoxo
    p

    p    riley & eli
    p
    p

    p    * if you're not an XOXO attendee, we'll make you a card based on some of the popular folks who publically follow XOXO.    p

    p    ** you'll be in the center of your card because you already know yourself (maybe?) and the center's always a freebie. if you feel like you don't know yourself, this game will be way harder. so will everything else in your life. but we're pretty sure you *do* know yourself. and you're amazing.    p

    p    *** and that it helps you talk to folks and make friends, and that you're happy and are satisfied with your life and feel self-actualized and have a comfy bed and clean socks and a loving network of friends surrounding you in your day to day.